* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background-color: #c9c9c9;
}

header {
  background-color: rebeccapurple;
  color: #eee;
}

h1,
h2 {
  text-align: center;
  line-height: 2em;
}
